@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");

:root {
  --color-primary: #bd1b33;
  --color-secondary: #9da421;
  --color-tertiary: #747a0e;
  --color-quaternary: #f14d45;
  --color-quinary: #f2cf13;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
}
.main-fresh {
  background-image: url("../images/rodajas-frutas-bayas-sobre-fondo-amarillo_23-2148144274.png");
  background-repeat: no-repeat;
  background-size: 100vw 800px;
}
.form-fresh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: var(--color-primary);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #f14d45;
  color: white;
  opacity: 0.5;
}
.a-fresh {
  color: black;
  font-weight: bolder;
}

.header a.active {
  background-color: var(--color-primary);
  color: white;
}

.header-right {
  float: right;
}
.title {
  text-align: center;
}
.main-img {
  width: 100%;
  padding: 10px;
  justify-content: center;
  display: flex;
}
.main-father {
  width: 100%;
  padding: 10px;
}
a {
  text-decoration: none;
}
.img-lemon {
  width: 100%;
}
.purpose {
  width: 92%;
  padding: 10px;
  background-color: var(--color-secondary);
  margin-bottom: 20px;
  border-radius: 10px;
}
.purpose-2 {
  width: 92%;
  padding: 10px;
  background-color: var(--color-secondary);
  margin-bottom: 20px;
  border-radius: 10px;
}
p {
  text-align: left;
}
h2 {
  margin: 0px;
}
.acccion-click {
  text-align: center;
}
footer {
  background-color: #f1f1f1;
}
.container-f {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  align-items: center;
  margin-bottom: 10px;
}
.container-f a {
  text-decoration: none;
  color: black;
}
.container-f img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.gmail {
  padding: 10px;
}
.gmail p {
  margin: 0px 0px 10px 0px;
  text-align: left;
}
.date {
  display: flex;
  padding: 0px 10px 0 10px;
}
.date p {
  margin-bottom: 0.5vw;
  text-align: left;
}
.dateActual {
  padding: 0px 10px 0 10px;

  margin-left: 0.8vw;
  margin-bottom: 5px;
}
.dateActual p {
  color: black;
  text-align: left;
}
.social {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.social img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.Weather {
  width: 92%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: var(--color-secondary);
  border-radius: 10px;
}
.main-form {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--bg-color);
  padding: 20px;
}
.grid-1 {
  margin-bottom: 20px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 20px;
}
form label.person {
  display: block;
  padding-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

form label.person input,
form label.select {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.5rem;
  max-width: 25rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
}
.person input:required {
  border: var(--color-quinary) solid 2px;
}

.person input:required:valid {
  border: var(--color-quinary) solid 2px;
}

.person input:not([required]) {
  border: #bde8d3 2px;
}
.member-2 {
  font-size: 16px;
}

.submit-button {
  background-color: #bde8d3;
  color: #264a41;
  border-radius: 1rem;
  width: 120px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}
.membership {
  border: 1px solid black;
  padding: 12px;
  display: grid;
  grid-area: 2/1;
}
.address-map {
  width: 300px;
}
.Address-h1 {
  text-align: center;
}
.contact-page {
  padding: 10px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
  margin-bottom: 20px;
}
.title-fesh {
  display: flex;
  position: absolute;
  width: 100%;
  height: 150px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#form-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/c83b2e66b2f3243dcc52fd4ba8909309.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 800px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
  .title-fesh {
    display: none;
  }
  .title-mobile {
    display: flex;
    width: 100%;
    height: 150px;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
}
