@media screen and (min-width: 1200px) {
  .main-father {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
    height: 600px;
  }
  .day-temperature {
    display: grid;
    grid-area: 2/2;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    background: #9da421;
    width: 97.5%;
  }

  .style-temperature {
    display: flex;
    justify-content: space-around;
  border-radius: 10px;

  }

  .img-lemon {
    height: 600px;
    width: 600px;
  }
  .purpose {
    height: 160px;
    grid-area: 1/2;
  }
  .purpose-2 {
    height: 160px;
  }

  .Weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 160px;
    margin-bottom: 0px;
  }
  .informacion-weather p {
    margin: 0px;
  }
  h2 {
    grid-area: 1/1;
    text-align: center;
  }
  .title-weather {
    grid-area: 1/1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .title-weather img {
    width: 100px;
    margin-top: 20px;
  }
  .title-weather p {
    text-align: center;
    margin: 0px;
  }
  .informacion-weather {
    grid-area: 1/2;
    align-content: center;
    display: grid;
  }
  .informacion-weather p {
    margin-bottom: 5px;
  }
  .footer-large {
    display: flex;
    justify-content: space-evenly;
  }
  .container-f {
    width: 200px;
    margin: 0px;
  }
  .social {
    display: flex;
    align-items: center;
  }
  .social img {
    margin-left: 5px;
  }
  .date-mobible {
    display: flex;
    justify-content: center;
  }
  .date {
    padding: 0px;
  }
  .date p {
    margin: 0px;
  }
  .dateActual p {
    margin: 0px;
  }
  .dateActual {
    margin: 0px;
  }
  .address-map {
    width: 600px;
    height: 450px;
  }
  .Address-h1 {
    text-align: center;
  }
  .map {
    width: 500px;
    height: 300px;
    margin-left: 25px;
  }
  .directory-cards section {
    width: 400px;
    height: 250px;
  }
  .main-form {
    display: flex !important;
    justify-content: space-evenly !important;
    margin-bottom: 40px;
  }
  .membership {
    max-width: none;
    height: 600px;
    width: 600px;
  }
  .grid-1 {
    width: 600px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  .container {
    padding: 300px 300px;
    background-image: url("../images/composicion-horizontal-frutas-verduras_1284-29854.png");
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-position: bottom;
  }
  .title-mobile {
    display: none;
  }
}
