@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
body {
  padding: 0;
  margin: 0;
}
header {
  width: 96vw;
  height: 20vw;
  display: flex;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: #457b9d;
  border-radius: 0.5px;
}
img {
  width: 15vw;
  height: 18vw;
  padding: 1vw;
  box-shadow: 0.26vw 0.26vw 0.26vw 0.26vw #1d3557;
  background: #f1faee;
}
.name {
  width: 80vw;
  justify-content: center;
  display: flex;
}
.nameH1 {
  align-self: center;
  font-size: 4vw;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}
.titleWdd {
  width: 100vw;
  padding-top: 0.5vw;
  border-bottom: 0.2vw solid #e63946;
  padding-left: 0.5vw;
}
h3 {
  margin-bottom: 0vw;
  color: lightskyblue;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
li {
  font-size: large;
}
.Lesson {
  padding-bottom: 1vw;
  border-bottom: 0.2vw solid #e63946;
}
p {
    margin-top: 0vw;
}
footer {
  background-color: #457b9d;
  width: 100vw;
  padding-top: 0.5vw;
}
.date {
  width: 100vw;
  display: flex;
  justify-content: center;

}
.date p {
  margin-bottom: 0.5vw;
}
.dateActual{
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-left: 0.8vw;
}
.dateActual p {
  color: yellow;
}
